/* Basic Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #ff2200d3, #ffcc00);
}

header {
    padding: 20px 0;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header h1 {
    margin: 0;
    color: #ffffff;
    font-size: 2em;
}


nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a.active {
    background-color: transparent;
    color: #fffb00;
    border-radius: 20px;
}

.content-area {
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #a4a1a1;
    border-radius: 20px;
    margin: 20px auto;
    max-width: 1200px;

     /* 自适应宽度 */
    width: 80%; /* 宽度为父容器的80% */
    max-width: 1200px; /* 最大宽度 */
      
      /* 自适应高度 */
    height: 80%; /* 高度为父容器的50% */
    min-height: 500px; /* 最小高度 */
    
}

.content{
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 20px;
    margin: 20px auto;

     /* 自适应宽度 */
    width: 95%; /* 宽度为父容器的80% */
    max-width: 1200px; /* 最大宽度 */
       
       /* 自适应高度 */
    height: 95%; /* 高度为父容器的50% */
    min-height: 400px; /* 最小高度 */
}

.about-us-section,
.contact-us-section,
.faq-section {
    margin-bottom: 20px;
}

.about-us-section h2,
.contact-us-section h2,
.faq-section h2 {
    margin-bottom: 10px;
}

footer {
    background-color: transparent;
    padding: 20px 0;
    margin-top: 20px;
    text-align: center; /* 确保直接包含在 <footer> 标签内的文本居中 */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px; /* 可选：增加一些左右内边距 */
}

.copyright, .contact-info {
    color: #ffffff;
    flex: 1; /* 让每个部分占据相等的空间 */
    text-align: left; /* 确保内容左对齐 */
}

.contact-info {
    text-align: left; /* 确保联系信息左对齐 */
}

/* 可选：调整标题样式 */
.contact-info h3 {
    margin-top: 0; /* 移除默认的顶部外边距 */
}